.table td, .table th {
    text-align: center; 
    vertical-align: middle; 
  }


  .img-style {
    width: 100px;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .td-style{
    margin: 0px;
    padding: 0px;
  }