

.navbar {
    background-color: #004643;
    padding: 10px 10px; 
    height: 8vh;
  }
  
  .container-fluid {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }

  .navbar-links{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }  
  
  .active { 
    color: #d1ac00; 
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
  }

  .notActive {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
  }
  
.secondary-button {
  background-color: #69888a; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  margin-left: 20px ;
}

.secondary-button:hover {
  transform: scale(1.05); 
}

.secondary-button:active {
  transform: scale(0.98); 
}

.primary-button {
  background-color: #d1ac00; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.primary-button:hover {
  transform: scale(1.05); 
}

.primary-button:active {
  transform: scale(0.98); 
}
